@model IQueryable<Order>

@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Наши товары</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="Jewelery" asp-action="Edit" asp-route-id="">Добавить товар</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (Order entity in Model)
                {
                    <div>
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="OrderList" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                        </form>
                        |
                        <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Name}") @($"{entity.Surname}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>
