@model IQueryable<Jewelery>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div id="content" class="col-8 col-12-medium">
    <div>
        @if (Model.Any())
        {

            <div id="Container" class="container">
                @foreach (Jewelery entity in Model)
                {
                    <li>
                        <div class="mix @entity.Category" data-myorder="@entity.Price">
                            <a asp-area="" asp-controller="Jewelery" asp-action="Index" asp-route-id="@entity.Id">
                                <img src="~/images/@entity.Image" alt="" class="left" style="height:150px;" />
                            </a>
                            <h4><a asp-area="" asp-controller="Jewelery" asp-action="Index" asp-route-id="@entity.Id">@entity.Name</a></h4>
                            <h5>@entity.Price</h5>
                            <p>@entity.ShortDesc</p>
                        </div>
                    </li>
                }

            </div>

        }
    </div>
</div>
<div id="sidebar" class="col-4 col-12-medium">
    <div class="controls">
        <label>Фильтр:</label>

        <button class="filter">All</button>
        <button class="filter" data-filter="Кольцо">Кольца</button>
        <button class="filter">Категория 2</button>
        <button class="filter">Категория 3</button>

        <br />  <br />
        <label>Цена:</label> <br />
        <button class="sort" data-sort="myorder:asc">По возростанию</button>
        <button class="sort" data-sort="myorder:desc">По убыванию</button>
    </div>
</div>